/course_segmentation/raw_images/*
/images_generator/image_data/*
*/.ipynb_checkpoints/
*/__pycache__/
/direct_steer/images_data/*
/direct_steer/segmented_data/*
/direct_steer/train_data/*
/direct_steer/old_images/*
/steer_regression/image_data/*
/steer_regression/segmented_images/*
/steer_regression/train_data/*